<!DOCTYPE html>
<html lang="en">
<head>
    <title>Landing Page</title>
    <link rel="stylesheet" type="text/css" href="/css/Common.css">
    <link rel="stylesheet" type="text/css" href="/css/LandingPage.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <form action="/upload-file" enctype="multipart/form-data" method="POST">
        <span>Upload Grades:</span>
        <input type="file" name="file" required><br>
        <input type="submit">
    </form>
    <script type="text/javascript" src="/scripts/LandingPage.js"></script>
    
</body>
</html>