body {
    background-image: linear-gradient(to bottom right, lightblue, lightgreen);
}

.signout {
    width: 7.5em;
    position: relative;
    top: 25%;
    border: 1px solid black;
    border-radius: 5em;
    padding: 1em;
    background-color: lime;
}